# -*- mode: sh; -*-
# Use poetry with direnv in this project
# (rootdir)/.envrc : direnv configuration file
# see https://direnv.net/
# pyversion=$(head .python-version)
# pvenv=$(head     .python-virtualenv)
# 
layout poetry
